* {
  font-family: sans-serif;
}

body {
  background-color: #f0f0f0;
}

.container {
  width: 75%;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.title-text,
.btn {
  padding: 0.75rem;
}

#add-input {
  height: 2rem;
  margin-left: 0.75rem;
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

form,
li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.erase {
  display: none;
}

i,
.checkbox {
  margin: 0.75rem;
}

.checkbox:hover {
  cursor: pointer;
}

textarea {
  width: 100%;
  padding: 0.5rem;
  height: 1rem;
  border: none;
  resize: none;
}

.title-text,
form,
li {
  border-bottom: 1px solid lightgray;
}

h2 {
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
  color: #545862;
}

.erase,
.move {
  opacity: 0.5;
}

.erase:hover {
  opacity: 1;
}

.move:hover {
  opacity: 1;
  cursor: move;
}

.btn {
  display: flex;
  justify-content: center;
}

button {
  border: none;
  background-color: #fff;
  opacity: 0.5;
  margin: 0 0.09rem;
}

button:hover {
  text-decoration: underline;
  cursor: pointer;
  opacity: 1;
}
